-r requirements.txt
datasets
einops
evaluate
graphviz
mypy
parameterized
pre-commit
pybind11-stubgen
pynvml==11.4.1
pytest-cov
pytest-forked
pytest-xdist
rouge_score
# tensorrt>=8.6.0
typing-extensions==4.8.0
